@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
  flex-direсtion: column;
}

.content {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
}

.content-inner {
  display: flex;
  padding-top: 29px;

  @include respond-to(xs) {
    flex-direction: column;
    padding-top: 16px;
  }
}

.left-container {
  @include respond-to(from-md) {
    display: flex;
    flex-shrink: 0;
    min-width: 364px;
    padding-right: 46px;
  }
}

.right-container {
  flex: 7;

  @include respond-to(xs) {
    margin-bottom: 28px;
  }
}

.title {
  @include respond-to(xs) {
    margin-bottom: 16px;
  }
}

.cover {
  display: block;
  width: 318px;
  height: 408px;
  object-fit: contain;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);

  @include respond-to(xs) {
    height: auto;
    width: 100%;
    max-width: 360px;
    margin-bottom: 23px;
  }
}
