@import 'styles/variables';
@import 'styles/mixins';

%dropdown-icon {
  position: absolute;
  top: calc(50% - 2px);
  right: -16px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 15px;
  line-height: 2.13;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.07);
  background-color: $white;
  padding: 11px 0;

  @include respond-to(xs) {
    border-radius: 0;
    box-shadow: none;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include respond-to(xs) {
    font-size: 17px;
    font-weight: normal;
    line-height: 2.82;
  }

  &:not(.title):hover {
    background-color: $gray-silver;
  }

  .link {
    width: 100%;
    padding: 0 24px;
    color: $black;

    @include respond-to(xs) {
      font-size: 22px;
      font-weight: bold;
      line-height: 2.18;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.separator {
  padding: 0 24px;
  height: 1px;
  margin: 13px 24px 11px;
  background-color: $gray-silver;
}

.toggler {
  cursor: pointer;
}
