@import 'styles/variables';
@import 'styles/mixins';

.content-inner {
  display: flex;
  padding-top: 29px;
}

.left-container {
  flex: 1;

  @include respond-to(xs) {
    display: none;
  }
}

.right-container {
  flex: 1;

  @include respond-to(xs) {
    display: none;
  }
}

.center-container {
  flex-basis: 653px;
  padding-bottom: 56px;
}

.subtitle-container {
  margin-bottom: 24px;
}
