@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @include respond-to(xs) {
    align-items: flex-start;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-basis: 343px;
  align-items: stretch;
}

.title {
  text-align: center;

  @include respond-to(xs) {
    margin: 30px 0;
  }
}

.text-success {
  font-size: 16px;
  line-height: 1.5;
}
