@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
}

.content-inner {
  display: flex;
  flex-direction: row;
  padding-top: 29px;
}

.left-container {
  display: flex;
  flex-basis: 365px;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 1;
  padding-right: 46px;
}

.cover {
  display: block;
  width: 318px;
  height: 408px;
  object-fit: contain;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.title {
  margin-bottom: 13px;
}

.description {
  margin-bottom: 28px;
}

.section {
  margin-bottom: 42px;

  &-title {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    margin-bottom: 14px;
  }
}

.spreads-container {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
  margin-bottom: 32px;

  @include respond-to(xs) {
    margin: -4px -16px;
  }

  & > * {
    margin: 16px;

    @include respond-to(xs) {
      margin: 4px 16px;
    }
  }
}

.spread {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 360px;
  height: 238px;
  max-width: 360px;

  @include respond-to(from-md) {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  }

  @include respond-to(xs) {
    height: auto;
  }

  &-page-link {
    max-width: 180px;
    width: 50%;

    @include respond-to(xs) {
      width: calc(50% - 4px);
      height: auto;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);

      &:first-child {
        margin-right: 4px;
      }

      &:last-child:not(:first-child) {
        margin-left: 4px;
      }
    }
  }

  &-page-img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &:last-child {
    box-shadow: none;

    .spread-page-link:last-child {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    }
  }
}
