@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex: 1;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cards-list {
  @include respond-to(xs) {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.card {
  @include respond-to(xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
