@import 'styles/variables';
@import 'styles/mixins';

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 144px;
  justify-content: center;
  box-shadow: 0 -1px 0 0 $gray-silver;
  background-color: $white;
  font-size: 14px;
  color: $gray-dark;
  box-shadow: inset 0 1px 0 0 $gray-silver;
  padding: 0 20px;

  @include respond-to(lg) {
    padding: 0;
  }

  @include respond-to(xs) {
    height: auto;
    padding: 20px;
  }

  .text-container {
    display: flex;
    align-items: center;
    flex-basis: $content-width-lg;

    @include respond-to(from-xs) {
      padding-top: 25px;
      flex-direction: column;
    }

    .left-inner {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include respond-to(from-xs) {
        padding-bottom: 25px;
        text-align: center;
      }
    }

    .right-inner {
      a + a {
        margin-left: 10px;
      }
    }
  }
}

.text-support {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  margin-bottom: 15px;
  color: $black;
}

.text-agreement {
  font-size: 14px;
  line-height: 1.43;
  color: $black;
}

%icon {
  display: inline-block;
  width: 124px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}

.app-store-icon {
  @extend %icon;
  @include background-assets(
    $icon1x: '../assets/images/app-store/img.png',
    $icon2x:  '../assets/images/app-store/img@2x.png',
    $icon3x:  '../assets/images/app-store/img@3x.png',
    $iconSvg:  '../assets/images/app-store/img.svg',
  );
}

.google-play-icon {
  @extend %icon;
  @include background-assets(
    $icon1x: '../assets/images/google-play/img.png',
    $icon2x:  '../assets/images/google-play/img@2x.png',
    $icon3x:  '../assets/images/google-play/img@3x.png',
    $iconSvg:  '../assets/images/google-play/img.svg',
  );
}
