@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-inner {
  display: flex;
  justify-content: center;
  padding-top: 29px;
}

.left-container {
  flex: 1;

  @include respond-to(below-md) {
    display: none;
  }
}

.right-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  @include respond-to(below-md) {
    display: none;
  }
}

.center-container {
  flex-basis: 653px;
  padding-bottom: $issue-bottom-bar-height;
  overflow: hidden;

  // beign issue text tag styles
  img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    cursor: pointer;
    margin: 15px 0;

    @include respond-to(xs) {
      max-height: 200px;
    }

    & > label {
      display: block;
      font-size: 13px;
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }
  // end issue text tag styles
}

.mobile-controls {
  display: none;

  @include respond-to(below-md) {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
}

.subtitle-container {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: $gray-dark;

 * + * {
   margin-left: 16px;
   border-left: 1px solid $gray-light;
   padding-left: 16px;
 }
}

.link-share {
  color: $blue-primary;
  cursor: pointer;
}

.arrow-link {
  display: flex;
  color: $black;

  &:hover {
    color: $blue-primary;
    text-decoration: none;
  }
}

.arrow-left {
  color: $gray-dark;
  margin-right: 8px;
}

.arrow-right {
  color: $gray-dark;
  margin-left: 8px;
}

.share-link-item {
  white-space: nowrap;
  font-size: 17px !important;
  font-weight: normal !important;
  line-height: 2.82 !important;
}
