@import 'styles/variables';
@import 'styles/mixins';

.card {
  position: relative;
  display: block;
  width: 196px;
  vertical-align: top;
  white-space: normal;

  @include respond-to(xs) {
    display: inline-block;
    width: 150px;

    &.responsive-mobile {
      width: 100%;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 144.5%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 12px;
}

.shadow {
  &:before {
    position: absolute;
    top: -4px;
    bottom: 100%;
    left: 7px;
    right: 7px;
    content: '';
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.07), 0 0 2px 0 rgba(0, 0, 0, 0.07);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    z-index: -1;
  }

  &:after {
    position: absolute;
    top: -8px;
    bottom: 100%;
    left: 17px;
    right: 17px;
    content: '';
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05), 0 0 2px 0 rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    z-index: -2;
  }
}

.title {
  font-size: 14px;
  line-height: 1.43;
  color: $black;
}
