@import 'styles/mixins';
@import 'styles/variables';

.content {
  display: flex;
  position: relative;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include respond-to(xs) {
    padding-bottom: $reviews-bottom-bar-height;
  }
}

.left-container {
  width: $reviews-left-container-width;
  min-width: $reviews-left-container-width;
  height: 100%;
  padding: 24px 32px;
  border-right: 1px solid $gray-silver;

  @include respond-to(xs) {
    padding: 0 20px 24px;
    overflow: auto;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    height: calc(100% - #{$header-height});
    top: $header-height;
    width: auto;
    transition: transform .4s ease;
    background-color: $white;

    &:not(.open) {
      transform: translateY(-100%);
    }

    &.open {
      transform: translateY(0);
    }
  }
}

.filters-group {
  display: flex;
  flex-direction: column;

  @include respond-to(from-md) {
    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 23px;
      border-bottom: 1px solid $gray-silver;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-title {
    color: #000;
    font-weight: 600;
    line-height: 1.5;
  }
}

.filters-reset {
  border: none;
  background: none;
  color: $gray-dark;
  padding: 0;
  outline: none;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.filters-submit {
  border: none;
  background: none;
  color: $blue-primary;
  padding: 0;
  outline: none;
}

.checkbox-label {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;

  @include respond-to(xs) {
    flex-grow: 1;
  }
}

.checkbox-control {
  @include respond-to(xs) {
    margin-bottom: 0;
    padding: 13px 0;
    box-shadow: 0 1px 0 0 $gray-silver
  }
}

.right-container {
  padding: 19px 32px;
  flex-grow: 1;

  @include respond-to(xs) {
    padding: 24px 20px;
  }
}

.search-input {
  position: relative;
  width: 100%;
  padding: 8px 16px 6px;
  height: 36px;
  background-color: $gray-silver;
  border: 1px solid $gray-silver;
  border-radius: 6px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $gray-muted;
    font-size: 15px;
  }

  &-container {
    position: relative;
    max-width: 494px;
    margin-bottom: 32px;

    @include respond-to(xs) {
      max-width: none;
      margin-bottom: 24px;
    }

    &:not(.revealed) .search-input-icon {
      display: none;
    }
  }

  &-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -8px;

  & > * {
    padding: 0;
    margin: 15px 8px;
    max-width: none;

    @include respond-to(xs) {
      flex-grow: 1;
    }
  }
}

.top-bar {
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -$content-padding;
  margin-right: -$content-padding;
  padding: 0 $content-padding;
  box-shadow: 0 1px 0 0 $gray-silver;

  b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.bottom-bar {
  height: 54px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  box-shadow: 0 -1px 0 0 $gray-silver, 0 1px 0 0 $gray-silver;

  &-button {
    display: flex;
    background: none;
    border: none;
    font-weight: 600;
    outline: none;
  }
}

.not-found {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}
