@import 'styles/mixins';
@import 'styles/variables';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 335px;
  min-width: 204px;
  height: 100%;

  &:hover {
    text-decoration: none;
  }

  @include respond-to(xs) {
    width: auto;
    max-width: 355px;
    min-width: 224px;
  }
}

.image-container {
  position: relative;
  margin-bottom: 9px;
  width: 100%;
}

.image {
  width: 100%;
  min-height: 140px;
  background-color: $gray-light;

  @include respond-to(xs) {
    min-height: 193px;
  }
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cover-container {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
}

.cover {
  width: 52px;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: $gray-light;
}

.title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2px;
}

.author {
  color: $gray-dark;
  font-size: 15px;
  margin-bottom: auto;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-primary;
  color: $white;
  margin-top: 14px;
  height: 40px;
  padding: 0 24px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
