@import 'styles/variables';
@import 'styles/mixins';

.image-spread {
  display: inline-flex;
  // flex: 1;
  max-width: 100%;
  max-height: 100%;

  @include respond-to(xs) {
    width: 100%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    & > * {
      display: inline-flex;
    }

    &:first-child > * {
      justify-content: flex-end;

      img {
        object-position: right;
      }
    }

    &:last-child > * {
      justify-content: flex-start;

      img {
        object-position: left;
      }
    }

    &:last-child:first-child > * {
      justify-content: center;

      img {
        object-position: center;
      }
    }
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
