@import 'styles/mixins';
@import 'styles/variables';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
  width: 100%;
}

.content-inner {
  padding-top: 29px;
  padding-bottom: 52px;

  @include respond-to(from-md) {
    display: flex;
  }

  @include respond-to(xs) {
    padding-top: 16px;
  }
}

.left-container {
  display: flex;
  flex-basis: 365px;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 1;
  padding-right: 46px;
}

.top-container {
  padding-top: 80px;
  padding-bottom: 33px;
  text-align: center;
}

.bottom-container {
  padding-top: 29px;
}

.cover-container {
  display: block;
  position: relative;
  border-radius: 8px;

  @include respond-to(xs) {
    display: inline-block;
    width: 100%;
    max-width: 40%;
    min-width: 150px;
    margin-bottom: 21px;

    span span {
      padding-bottom: 140%;
    }
  }
}

.title {
  margin-bottom: 21px;
}

.author {
  margin-bottom: 14px;
}

.useful {
  margin-bottom: 11px;
}

.buttons-container {
  margin-bottom: 10px;
}

.section {
  margin-top: 28px;

  &-title {
    margin-bottom: 16px;
  }
}
