@import 'styles/variables';
@import 'styles/mixins';

.visible-xs {
  display: none;

  @include respond-to(xs) {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  height: $header-height;
  box-shadow: 0 1px 0 0 $gray-silver;
  background-color: $white;
  z-index: 3;
}

.logo-container {
  display: flex;
  justify-content: center;

  @include respond-to(xs) {
    width: auto;
    flex: 1;
    order: 2;
  }
}

.logo {
  display: block;
  width: 35px;
  height: 34px;
  min-width: 35px;
  user-select: none;
  margin: 0 32px;
  background: no-repeat center;
  background-size: contain;

  @include background-assets(
    $icon1x: '../assets/images/logo/img@2x.png',
    $icon2x:  '../assets/images/logo/img@2x.png',
    $icon3x:  '../assets/images/logo/img@3x.png',
    $iconSvg:  '../assets/images/logo/img.svg'
  );
}

.search-form {
  @include respond-to(xs) {
    order: 3;
  }
}

.mobile-search-button {
  display: none;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background: center / contain no-repeat;

  @include respond-to(xs) {
    display: block;
  }

  @include background-assets(
    $icon1x: '../assets/images/search/img.png',
    $icon2x: '../assets/images/search/img@2x.png',
    $icon3x: '../assets/images/search/img@3x.png',
    $iconSvg: '../assets/images/search/img.svg'
  );
}

.mobile-search-container {
  @include respond-to(xs) {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    height: $header-height;
    padding: 0 20px;
    background-color: $white;
    z-index: 1;
    transition: transform .4s ease;
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
    }
  }
}


.search-input-container {
  display: block;
  position: relative;

  &.revealed .icon {
    position: absolute;
    right: 16px;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-size: contain;

    @include background-assets(
      $icon1x: '../assets/images/times/blue-sm/img.png',
      $icon2x: '../assets/images/times/blue-sm/img@2x.png',
      $icon3x: '../assets/images/times/blue-sm/img@3x.png',
      $iconSvg: '../assets/images/times/blue-sm/img.svg'
    );
  }
}

.search-input {
  width: 100%;
  height: 32px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1.6;
  border: none;
  margin: 0;
  padding: 7px 16px;
  padding-right: 40px;
  color: $black;
  background-color: $gray-silver;
  outline: none;
  transition: width .3s;

  @include respond-to(from-md) {
    width: 274px;
  }

  &.revealed {
    @include respond-to(from-md) {
      width: 397px;
    }
  }
}

.search-cancel {
  display: none;
  font-size: 15px;
  line-height: 1.6;
  margin-left: 16px;
  color: $blue-primary;

  @include respond-to(xs) {
    display: block;
  }
}

.nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @include respond-to(xs) {
    display: none;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;

  &-item {
    padding: 0 16px;
    font-size: 15px;
    line-height: 24px;

    a {
      display: inline-block;
      color: $gray-dark;
    }
  }
}

a.link-active {
  position: relative;
  color: $black;
  border-color: $blue-primary;

  &:after {
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 16px;
    height: 3px;
    margin: 0 auto;
    border-radius: 2px;
    border-bottom: 3px solid;
    border-color: inherit;
    content: "";
  }
}

.menu {
  @include respond-to(xs) {
    order: 1;
  }
}

.dropdown-menu-container {
  display: flex;
  flex-basis: 210px;
  padding: 0 32px 0 16px;
  justify-content: flex-end;

  @include respond-to(xs) {
    display: none;
  }
}

.title {
  font-weight: 600;
  cursor: text;

  @include respond-to(xs) {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.54;
  }
}

%dropdown-icon {
  position: absolute;
  top: calc(50% - 2px);
  right: -16px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
}

.dropdown-toggler {
  font-size: 15px;
  cursor: pointer;
}

.dropdown {
  &-closed {
    position: relative;

    .dropdown-toggler {
      &:after {
        @extend %dropdown-icon;
        border-top: 4px solid $gray-muted;
        border-bottom: none;
      }
    }
  }

  &-opened {
    position: relative;

    .dropdown-toggler {
      &:after {
        @extend %dropdown-icon;
        border-bottom: 4px solid $gray-muted;
        border-top: none;
      }
    }
  }

  &-position {
    position: fixed;
  }
}

.checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: solid 0.8px $gray-light;
  border-radius: 50%;

  &.active {
    &:after {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: calc(50% - 6px);
      left: calc(50% - 6px);
      content: '';
      background-color: $blue-primary;
      content: '';
    }
  }
}

.sidebar-button {
  margin-left: 20px;

  &.open {
    @include background-assets(
      $icon1x: '../assets/images/times/img.png',
      $icon2x: '../assets/images/times/img@2x.png',
      $icon3x: '../assets/images/times/img@3x.png',
      $iconSvg: '../assets/images/times/img.svg'
    );
  }
}

.sidebar-container {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 1;
  transition: transform .4s ease;
  transform: translateY(calc(-100% - #{$header-height}));

  &.open {
    transform: translateY(0);
  }
}
