@import 'styles/variables';

.btn {
  display: inline-block;
  text-align: center;
  height: 40px;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 17px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;

    &:not(.loading){
      background-color: $gray-light;
    }
  }
}

.primary {
  background-color: $blue-primary;
  color: $white;
}

.secondary {
  background-color: $gray-silver;
  color: $white;
}

.white {
  background-color: $white;
  border: 1px solid $gray-middle;
}

.transparent {
  background-color: transparent;
}

.fullwidth {
  width: 100%;
}

.as-link {
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.round {
  &-md {
    border-radius: 8px;
  }
  &-xl {
    border-radius: 20px;
  }
}
