@import 'styles/variables';
@import 'styles/mixins';

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.form-error {
  margin-bottom: 22px;
}

.label {
  margin-bottom: 12px;
  cursor: text;
}

.label-checkbox {
  @extend .label;
  line-height: 1.5;
  cursor: pointer;
}

.input-text {
  width: 100%;
  padding: 8px 16px 6px;
  height: 40px;
  line-height: 40px;
  border: 1px solid $gray-light;
  border-radius: 4px;
  overflow: hidden;

  &:focus {
    outline: none;
    border: solid 1px $blue-primary;
  }

  &::placeholder {
    color: $gray-muted;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  position: relative;

  &.reverse {
    flex-direction: row-reverse;

    .input-checkbox {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  &.spread {
    justify-content: space-between;
  }
}

.input-checkbox {
  display: block;
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 1px solid $gray-light;
  border-radius: 8px;
  background-color: $white;
  margin: 0 8px 0 4px;
  outline: none;
  cursor: pointer;

  &:checked::before {
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15px;
    height: 13px;
    margin: 0 auto;
    content: '';
    background: no-repeat center;
    background-size: contain;


    @include background-assets(
      $icon1x: '../assets/images/checkmark/checkmark.png',
      $icon2x:  '../assets/images/checkmark/checkmark@2x.png',
      $icon3x:  '../assets/images/checkmark/checkmark@3x.png',
      $iconSvg:  '../assets/images/checkmark/checkmark.svg'
    );
  }

  &.primary {
    background-color: $gray-light;

    &:checked {
      background-color: $blue-primary;

      &::before {
        top: 6px;
        width: 13px;
        height: 10px;

        @include background-assets(
          $icon1x: '../assets/images/checkmark/white/img.png',
          $icon2x:  '../assets/images/checkmark/white/img@2x.png',
          $icon3x:  '../assets/images/checkmark/white/img@3x.png',
          $iconSvg:  '../assets/images/checkmark/white/img.svg'
        );
      }
    }
  }
}

.errors-text {
  color: $red;
  margin-top: 12px;
  line-height: 1.5;
}
