@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex: 1;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px -10px 0;
}

.card {
  width: 196px;
  margin: 0 10px 30px;

  &:hover {
    text-decoration: none;
  }

  img {
    display: block;
    position: relative;
    width: 100%;
    height: 283px;
    border: none;
    background-color: $gray-light;
    margin-bottom: 12px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.03);

    &:before {
      position: absolute;
      top: -4px;
      bottom: 0;
      left: 7px;
      right: 7px;
      content: '';
      box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.07), 0 0 2px 0 rgba(0, 0, 0, 0.07);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $white;
      z-index: -1;
    }

    &:after {
      position: absolute;
      top: -8px;
      bottom: 0;
      left: 17px;
      right: 17px;
      content: '';
      box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05), 0 0 2px 0 rgba(0, 0, 0, 0.05);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $white;
      z-index: -2;
    }
  }

  .title {
    font-size: 14px;
    line-height: 1.43;
    color: $black;
  }
}
