@import 'styles/mixins';
@import 'styles/variables';

.right-container {
  padding: 19px 32px;
  flex-grow: 1;

  @include respond-to(xs) {
    padding: 24px 20px;
  }
}

.search-input {
  width: 100%;
  max-width: 494px;
  margin-bottom: 32px;

  @include respond-to(xs) {
    max-width: none;
    margin-bottom: 24px;
  }
}

.cards {
  margin: -15px -8px;

  & > * {
    margin: 15px 8px;
  }
}
