@import 'styles/variables';
@import 'styles/mixins';

.cards-list {
  @include respond-to(xs) {
    margin-left: -6px;
    margin-right: -6px;
  }
}

.card {
  @include respond-to(xs) {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.title {
  @include respond-to(xs) {
    font-size: 22px;
  }
}
