@import 'styles/variables';
@import 'styles/mixins';

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 115px;

  @include respond-to(below-lg) {
    padding: 20px;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-basis: $content-width-lg;
  align-items: flex-start;
}

.list {
  li {
    padding-bottom: 10px;
    list-style: decimal inside;
  }
}

.button {
  margin-top: 20px;
}
