@import 'styles/variables';
@import 'styles/mixins';

.content-inner {
  display: flex;
  flex-direction: row;
  padding-top: 29px;

  @include respond-to(xs) {
    padding-top: 16px;
  }
}

.left-container {
  display: flex;
  flex-basis: 365px;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 1;
  padding-right: 46px;
}

.sections-container {
  margin: 56px 0;

  @include respond-to(xs) {
    margin: 28px 0;
  }
}

.section {
  margin-bottom: 42px;

  @include respond-to(xs) {
    margin-bottom: 28px;
  }

  &-title {
    margin-bottom: 14px;
  }
}

.snippet {
  display: block;
  margin-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 30px;
  }
}
