@import 'styles/variables';

.overlay {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.body {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;

  & > * {
    margin: auto;
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
