@import 'styles/variables';
@import 'styles/mixins';

.container {
  padding: 13px 24px;
  border-radius: 8px;
  box-shadow: 0 16px 24px 0 rgba(20, 24, 28, 0.16);

  @include respond-to(xs) {
    border-radius: 0;
  }
}

.body {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  line-height: 1.38;
  font-size: 16px;
}

.info {
  background-color: $blue-primary;
  color: $white;
}

.error {
  background-color: $pink;
  color: $black;
}

.progress {
  height: 3px;

  &-info {
    background: #65a8ff;
  }

  &-error {
    background: #ffa0a6;
  }
}
