@import 'styles/variables';
@import 'styles/mixins';

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &.has-header {
    padding-top: $header-height;
  }
}

.content {
  flex-grow: 1;
}

.mobile-nav-menu {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 56px;
  list-style: none;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  box-shadow: 0 -1px 0 0 $gray-light, 0 1px 0 0 $gray-light;
  background-color: $gray-silver-light;

  @include respond-to(xs) {
    display: flex;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 9px;
    font-weight: 600;

    &:visited {
      color: $black;
    }

    &.link-active {
      color: $blue-primary;
    }
  }
}

%icon {
  display: block;
  width: 30px;
  height: 26px;
  margin-bottom: 7px;
  background: no-repeat center;
  background-size: contain;
}

$nav-names: 'digest', 'books', /*'periodicals', */ 'sites';

@each $name in $nav-names {
  .icon-#{$name} {
    @extend %icon;
    @include background-assets(
      $icon1x: '../assets/images/#{$name}-nav-icon-black/img.png',
      $icon2x: '../assets/images/#{$name}-nav-icon-black/img@2x.png',
      $icon3x: '../assets/images/#{$name}-nav-icon-black/img@3x.png',
      $iconSvg: '../assets/images/#{$name}-nav-icon-black/img.svg',
    );

    .link-active & {
      // @include background-assets(
        //   $icon1x: '../assets/images/#{$name}-nav-icon-blue/img.png',
        //   $icon2x: '../assets/images/#{$name}-nav-icon-blue/img@2x.png',
        //   $icon3x: '../assets/images/#{$name}-nav-icon-blue/img@3x.png',
        //   $iconSvg: '../assets/images/#{$name}-nav-icon-blue/img.svg',
        // );
      }
    }
  }


.icon-periodicals {
  @extend %icon;
  // @include background-assets(
  //   $icon1x: '../assets/images/periodicals-nav-icon-black/img.png',
  //   $icon2x: '../assets/images/periodicals-nav-icon-black/img@2x.png',
  //   $icon3x: '../assets/images/periodicals-nav-icon-black/img@3x.png',
  //   $iconSvg: '../assets/images/periodicals-nav-icon-black/img.svg',
  // );

  .link-active & {
    @include background-assets(
      $icon1x: '../assets/images/periodicals-nav-icon-blue/img.png',
      $icon2x: '../assets/images/periodicals-nav-icon-blue/img@2x.png',
      $icon3x: '../assets/images/periodicals-nav-icon-blue/img@3x.png',
      $iconSvg: '../assets/images/periodicals-nav-icon-blue/img.svg',
    );
  }
}

.bottom-offset {
  margin-bottom: 63px !important;
}
