@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
  width: 100%;
}

.content-inner {
  display: flex;
  flex-direction: row;
  padding-top: 29px;

  @include respond-to(xs) {
    padding-top: 16px;
  }
}

.left-container {
  display: flex;
  flex-basis: 365px;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 1;
  padding-right: 46px;
}

.cover {
  display: block;
  width: 318px;
  height: 408px;
  object-fit: contain;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);

  @include respond-to(xs) {
    width: 100%;
    height: auto;
  }
}

.cover-container {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  @include respond-to(xs) {
    max-width: 343px;
  }
}

.title {
  margin-bottom: 13px;

  @include respond-to(xs) {
    margin-bottom: 10px;
  }
}

.description {
  margin-bottom: 28px;

  @include respond-to(xs) {
    margin-bottom: 20px;
    line-height: 21px;
  }
}

.sections-container {
  margin: 56px 0;

  @include respond-to(xs) {
    margin: 28px 0;
  }
}

.section {
  margin-bottom: 42px;

  @include respond-to(xs) {
    margin-bottom: 28px;
  }

  &-title {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    margin-bottom: 14px;

    @include respond-to(xs) {
      font-size: 17px;
    }
  }
}

.collect {
  color: $gray-dark;
}

.notification {
  padding: 0 8px;
  width: 48px;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  @include background-assets(
    $icon1x: '../assets/images/bell-icon/img.png',
    $icon2x: '../assets/images/bell-icon/img@2x.png',
    $icon3x: '../assets/images/bell-icon/img@3x.png',
    $iconSvg: '../assets/images/bell-icon/img.svg'
  );

  @include respond-to(xs) {
    width: 56px;
  }
}

.latest-issue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(6, 6, 6, 0.8);
}
