@import 'styles/variables';
@import 'styles/mixins';

.title {
  margin-top: 19px;
}

.slider-container {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 15px;
}
.document {
  margin-bottom: 61px;

  @include respond-to(xs) {
    margin-bottom: 46px;
  }

  &-amount {
    margin-bottom: 29px;
  }

  &-title {
    margin-bottom: 6px;
  }

  &-issue {
    margin-bottom: 8px;
  }
}
