@import './variables';
@import './reset';
@import './utils';

html, body {
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  font-family: ...;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
optgroup {
  font: inherit;
  margin: 0;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
