@mixin background-assets ($icon1x, $icon2x, $icon3x, $iconSvg) {
  background-image: url($icon1x);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($icon2x);
  }

  /* 1.25 dpr */
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url($iconSvg);
  }

  /* 1.3 dpr */
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
    background-image: url($iconSvg);
  }

  /* 1.5 dpr */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url($icon3x);
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: $gray-light;
  }

  @include respond-to(xs) {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

$xxs: 320px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin respond-to($media) {
  @if $media == from-xs {
    @media (max-width: $xs + 1) { @content; }
  }
  @else if $media == from-sm {
    @media (min-width: $xs + 1) { @content; }
  }
  @else if $media == from-md {
    @media (min-width: $sm + 1) { @content; }
  }
  @else if $media == xs {
    @media (max-width: $sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $sm + 1) and (max-width: $md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $md + 1) and (max-width: $lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $lg + 1) { @content; }
  }
  @else if $media == below-xs {
    @media (max-width: $xs) { @content }
  }
  @else if $media == below-sm {
    @media (max-width: $sm) { @content }
  }
  @else if $media == below-md {
    @media (max-width: $md) { @content }
  }
  @else if $media == below-lg {
    @media (max-width: $lg) { @content }
  }
}
