@import 'styles/mixins';

.is-hidden {
  @include respond-to(xs) {
    &-xs {
      display: none;
    }
  }
}

.is-visible {
  @include respond-to(from-md) {
    &-xs {
      display: none;
    }
  }
}

.is-visually-hidden {
  opacity: 0;
  visibility: hidden;
}

.is-overflow-hidden {
  overflow: hidden;
}

.is-paddingless {
  padding: 0 !important;
}

.is-marginless {
  margin: 0 !important;
}

.is-grow-mobile {
  @include respond-to(xs) {
    flex-grow: 1;
  }
}

.is-full-width {
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.is-faded {
  position: relative;

  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    animation: appear .275s
  }

  &-gray {
    &:after {
      background-color: rgba(#000, .2);
    }
  }
}
