$white: #ffffff;
$black: #14181c;
$black-dark: #111212;;
$gray-silver: #f1f2f6;
$gray-silver-lighter: #f5f5f5;
$gray-silver-light: #f8f8f8;
$gray-light: #dedede;
$gray-dark: #81818b;
$gray-muted: #9fa3a7;
$gray-middle: #bbbbbb;
$blue-primary: #345eff;
$red: red;
$pink: #ffd3db;
$green-light: #01c464;;

$content-padding: 20px;
$content-width-lg: 1176px;
$header-height: 64px;
$issue-bottom-bar-height: 64px;
$reviews-left-container-width: 349px;
$reviews-bottom-bar-height: 54px;


:export {
  bluePrimary: $blue-primary;
  white: $white;
}
