@import 'styles/variables';
@import 'styles/mixins';

.h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 65px;
}

.h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 20px;

  @include respond-to(xs) {
    font-size: 28px;
  }
}

.h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  margin-bottom: .85em;
}

.h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: .85em;
}

.h5 {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  margin-bottom: 23px;
}

.center {
  text-align: center;
}
