@import 'styles/variables';

.spinner {
  width: 70px;
  margin: 0px auto 0;
  text-align: center;

  & > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    background-color: $white;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    margin: 0 6px;
    animation-delay: -0.16s;
  }
}

.ignore-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.white {
  .bounce1, .bounce2, .bounce3 {
    background-color: $white;
  }
}
