@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
  flex-direсtion: column;
}

.content-container {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
}

.content-inner {
  display: flex;
  flex-direction: row;
  padding-top: 29px;
}

.left-container {
  display: flex;
  flex: 3;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 7;
  padding-right: 46px;
}

.cover {
  display: block;
  width: 318px;
  height: 408px;
  object-fit: contain;
}

.bottom-bar {
  &-left {
    padding-right: 46px;
    min-width: 364px;

    @include respond-to(xs) {
      display: none;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    flex: 7;

    @include respond-to(from-md) {
      padding-right: 46px;
    }
  }

  &-link {
    display: flex;
    align-items: center;

    &:hover {
      color: $gray-dark;
    }
  }

  &-text {
    font-size: 14px;
    color: $gray-dark;
    line-height: 1.43;
  }

  &-icon {
    margin-right: 16px;
  }

  &-tooltip {
    top: -18px !important;

    @include respond-to(from-md) {
      top: -26px !important;
    }

    p {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      margin-bottom: 21px;
    }
  }
}

.show-tips {
  z-index: 9999;
}

.tip-content {
  text-align: center;
}
