@import 'styles/variables';
@import 'styles/mixins';

.block-parent-flex-width {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
}

.carousel {
  position: relative;

  .cards-container {
    padding-left: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    @include scrollbar();

    @include respond-to(below-lg) {
      padding-left: 20px;
    }

    & > * {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
  }

  &.is-loading {
    .cards-container {
      display: flex;
      justify-content: space-between;

      @include respond-to(from-md) {
        overflow-x: hidden;
      }
    }
  }

  .control-right {
    position: absolute;
    width: 64px;
    height: 64px;
    right: -32px;
    top: calc(50% - 32px);
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
    cursor: pointer;
    background: center no-repeat;
    background-color: rgba(255, 255, 255, 0.95);
    background-size: 12px 23px;

    @include respond-to(xs) {
      display: none;
    }

    @include background-assets(
      $icon1x: '../assets/images/chevron-right-gray/img.png',
      $icon2x: '../assets/images/chevron-right-gray/img@2x.png',
      $icon3x: '../assets/images/chevron-right-gray/img@3x.png',
      $iconSvg: '../assets/images/chevron-right-gray/img.svg',
    );
  }
}
