@import 'styles/mixins';

.icon {
  display: flex;
  background: center / contain no-repeat
}

.aA {
  height: 18px;
  width: 28px;

  @include background-assets(
    $icon1x: '../assets/images/aA/img.png',
    $icon2x: '../assets/images/aA/img@2x.png',
    $icon3x: '../assets/images/aA/img@3x.png',
    $iconSvg: '../assets/images/aA/img.svg'
  );
}

.checkmark-white {
  width: 13px;
  height: 10px;

  @include background-assets(
    $icon1x: '../assets/images/checkmark/white/img.png',
    $icon2x: '../assets/images/checkmark/white/img@2x.png',
    $icon3x: '../assets/images/checkmark/white/img@3x.png',
    $iconSvg: '../assets/images/checkmark/white/img.svg'
  )
}

.chevron-left-gray {
  width: 9px;
  height: 16px;
  transform: scaleX(-1);

  @include background-assets(
    $icon1x: '../assets/images/chevron-right-gray/img.png',
    $icon2x: '../assets/images/chevron-right-gray/img@2x.png',
    $icon3x: '../assets/images/chevron-right-gray/img@3x.png',
    $iconSvg: '../assets/images/chevron-right-gray/img.svg'
  );
}

.chevron-right-gray {
  width: 9px;
  height: 16px;

  @include background-assets(
    $icon1x: '../assets/images/chevron-right-gray/img.png',
    $icon2x: '../assets/images/chevron-right-gray/img@2x.png',
    $icon3x: '../assets/images/chevron-right-gray/img@3x.png',
    $iconSvg: '../assets/images/chevron-right-gray/img.svg'
  );
}

.gamburger {
  width: 32px;
  height: 32px;

  @include background-assets(
    $icon1x: '../assets/images/gamburger/img.png',
    $icon2x: '../assets/images/gamburger/img@2x.png',
    $icon3x: '../assets/images/gamburger/img@3x.png',
    $iconSvg: '../assets/images/gamburger/img.svg'
  );
}

.lines {
  width: 21px;
  height: 21px;

  @include background-assets(
    $icon1x: '../assets/images/lines/img.png',
    $icon2x: '../assets/images/lines/img@2x.png',
    $icon3x: '../assets/images/lines/img@3x.png',
    $iconSvg: '../assets/images/lines/img.svg'
  );
}

.newspaper {
  width: 27px;
  height: 25px;
  @include background-assets(
    $icon1x: '../assets/images/newspaper/img.png',
    $icon2x: '../assets/images/newspaper/img@2x.png',
    $icon3x: '../assets/images/newspaper/img@3x.png',
    $iconSvg: '../assets/images/newspaper/img.svg'
  );
}

.play-button {
  width: 48px;
  height: 48px;

  @include background-assets(
    $icon1x: '../assets/images/play-button/img.png',
    $icon2x: '../assets/images/play-button/img@2x.png',
    $icon3x: '../assets/images/play-button/img@3x.png',
    $iconSvg: '../assets/images/play-button/img.svg'
  );
}

.times {
  width: 32px;
  height: 32px;

  @include background-assets(
    $icon1x: '../assets/images/times/img.png',
    $icon2x: '../assets/images/times/img@2x.png',
    $icon3x: '../assets/images/times/img@3x.png',
    $iconSvg: '../assets/images/times/img.svg'
  );
}

.times-black-sm {
  width: 14px;
  height: 14px;

  @include background-assets(
    $icon1x: '../assets/images/times/black-sm/img.png',
    $icon2x: '../assets/images/times/black-sm/img@2x.png',
    $icon3x: '../assets/images/times/black-sm/img@3x.png',
    $iconSvg: '../assets/images/times/black-sm/img.svg'
  );
}

.times-blue-sm {
  width: 14px;
  height: 14px;

  @include background-assets(
    $icon1x: '../assets/images/times/blue-sm/img.png',
    $icon2x: '../assets/images/times/blue-sm/img@2x.png',
    $icon3x: '../assets/images/times/blue-sm/img@3x.png',
    $iconSvg: '../assets/images/times/blue-sm/img.svg'
  );
}

