@import 'styles/variables';
@import 'styles/mixins';

.container {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  background-color: $black-dark;

  @include respond-to(from-md) {
    padding-left: 100px;
    padding-right: 100px;
  };

  @include respond-to(xs) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  position: fixed;
  top: 0;
  bottom: 0;

  @include respond-to(xs) {
    width: 16px;
    min-width: 16px;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.sidebar-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  outline: none;
}

.content-container {
  $vertical-slide-offset: 24px;
  $bottom-padding: $issue-bottom-bar-height + $vertical-slide-offset;
  $bottom-padding-mobile: $issue-bottom-bar-height + 71px;

  display: flex;
  align-items: center;
  padding: $vertical-slide-offset 0 $bottom-padding;
  overflow: hidden;
  height: 100%;
  width: 100%;

  @include respond-to(xs) {
    padding: $vertical-slide-offset $content-padding $bottom-padding-mobile;
  }
}

.bottom-bar {
  @include respond-to(xs) {
    bottom: 0;
  }

  &-column {
    display: flex;

    @include respond-to(from-md) {
      flex-grow: 1;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &-link {
    display: flex;
    align-items: center;

    &:hover {
      color: $gray-dark;
    }
  }

  &-text {
    color: $gray-dark;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;
  }

  &-icon {
    margin-right: 16px;
  }

  &-right-icon {
    margin-left: 8px;
  }

  &-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider {
  width: 261px;
  padding-top: 20px;

  @include respond-to(xs) {
    display: none;
  }

  &-handle {
    position: relative;
    height: 100%;

    &-icon {
      position: absolute;
      top: calc(-100% - 12px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.semibold {
  font-weight: 500;
}

.controls {
  position: fixed;
  left: 0;
  right: 0;
  bottom: $issue-bottom-bar-height - 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 $content-padding;

  .left {
    margin-left: auto;
  }
}

.tooltip-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: $black;
}

.tooltip-posts-list {
  padding-left: 1em;

  li {
    color: #14181c;

    a {
      font-size: 16px;
      line-height: 2;
      color: $black;
    }
  }
}
