@import 'styles/variables';
@import 'styles/mixins';

.container {
}

.snippet {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 30px;
  }
}

.title {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: $black;
}

.description {
  margin-bottom: 8px;
}

.pages {
  margin-bottom: 24px;
  color: $gray-dark;
}

.link {
  color: $black;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}
