@import 'styles/mixins';
@import 'styles/variables';

.normal {
  width: 100%;
  max-width: $content-width-lg;
  padding-left: $content-padding;
  padding-right: $content-padding;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wide {
  margin-left: -$content-padding;
  margin-right: -$content-padding;
  width: calc(100% + #{$content-padding * 2});
  max-width: $content-width-lg + $content-padding * 2;

  @include respond-to(lg) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
