@import 'styles/variables';
@import 'styles/mixins';

.content-container {
  display: flex;
  flex-direction: column;
}

.branch-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond-to(xs) {
    flex-direction: column;
  }
}

.branches-list {
  display: flex;
  flex-direction: row;
  flex: 1;

  @include respond-to(xs) {
    flex-direction: column;
  }

  a {
    position: relative;
    color: $black;
    line-height: 2;
    font-size: 14px;

    @include respond-to(xs) {
      line-height: 44px;
      border-bottom: 1px solid $gray-light;
      padding-right: 15px;

      &:after {
        position: absolute;
        right: 0px;
        top: calc(50% - 8px);
        width: 9px;
        height: 16px;
        content: '';
        background: no-repeat center;
        background-size: contain;

        @include background-assets(
          $icon1x: '../assets/images/chevron-right-gray/img.png',
          $icon2x: '../assets/images/chevron-right-gray/img@2x.png',
          $icon3x: '../assets/images/chevron-right-gray/img@3x.png',
          $iconSvg: '../assets/images/chevron-right-gray/img.svg'
        );
      }
    }
  }
}

.branch-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;

  @include respond-to(xs) {
    display: none;
    padding-right: 0;

    &:first-child {
      display: block;
    }
  }

  a {
    @include respond-to(xs) {
      display: none;

      &:nth-child(-n+4) {
        display: block;
      }
    }
  }
}

.loader-container {
  width: $content-width-lg;
}

.reveal-branches {
  display: none;
  margin-top: 16px;
  text-align: center;

  @include respond-to(xs) {
    display: block;
  }
}

.dialog {
  display: flex;
  justify-content: center;
}
