@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-basis: 457px;
  align-items: stretch;
}

.list {
  padding: 0 12px 0 24px;
  list-style: none;
  border: 1px solid $gray-light;
  border-radius: 4px;
  max-height: 406px;
  overflow: auto;

  @include scrollbar();

  li {
    position: relative;
    height: 60px;
    border-bottom: 1px solid $gray-light;

    &:last-child {
      border: none;
    }

    a {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: $black;

      &:after {
        position: absolute;
        right: 0;
        width: 9px;
        height: 16px;
        content: '';

        @include background-assets(
          $icon1x: '../assets/images/chevron-right-gray/img.png',
          $icon2x: '../assets/images/chevron-right-gray/img@2x.png',
          $icon3x: '../assets/images/chevron-right-gray/img@3x.png',
          $iconSvg: '../assets/images/chevron-right-gray/img.svg',
        );
      }

      &:hover {
        color: $blue-primary;

        &:after {
          @include background-assets(
            $icon1x: '../assets/images/chevron-right-blue/img.png',
            $icon2x: '../assets/images/chevron-right-blue/img@2x.png',
            $icon3x: '../assets/images/chevron-right-blue/img@3x.png',
            $iconSvg: '../assets/images/chevron-right-blue/img.svg',
          );
        }
      }
    }
  }
}
