@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-top: 19px;
}

.subtitle {
  display: block;
}

.document {
  margin-bottom: 61px;

  @include respond-to(xs) {
    margin-bottom: 46px;
  }

  &-amount {
    display: block;
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 1.5;
    color: $gray-dark;
  }

  &-title {
    margin-bottom: 6px;
    color: $black;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;

    &:hover {
      text-decoration: none;
    }

    em {
      padding: 5px 4px;
      color: $white;
      background-color: $blue-primary;
      font-style: normal;
    }
  }

  &-issue {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: $gray-dark;

    a {
      color: $gray-dark;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-description {
    font-size: 16px;
    line-height: 1.5;

    @include respond-to(xs) {
      line-height: 22px;
    }

    em {
      padding: 3px 2px;
      color: $white;
      background-color: $blue-primary;
      font-style: normal;
    }
  }
}

.slider {
  @include respond-to(xs) {
    padding-left: 20px;
  }
}

.slider-container {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 15px;
}
