@import 'styles/mixins';

.button-group {
  display: flex;
  flex-direction: column;

  &.inline {
    flex-direction: row;
  }

  &.space {
    justify-content: space-between;
  }

  &.offset-bottom > a,
  &.offset-bottom > button {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.offset-right > a,
  &.offset-right > button {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    @include respond-to(xs) {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}
