@import 'styles/variables';
@import 'styles/mixins';

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include respond-to(xs) {
    justify-content: flex-start;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-basis: $content-width-lg;
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 100%;

    @include respond-to(xs) {
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100%;
    }
  }
}

.padding {
  &-medium {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-top {
    &-medium {
      padding-top: 20px;
    }
  }
}

.gradient {
  box-shadow: 0 12px 74px 0 #f9fafc;
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
}

.head-container {
  display: flex;
  flex-direction: row;
  padding: 0 $content-padding;

  @include respond-to(lg) {
    padding: 0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 26px;
}

.title {
  margin-bottom: 7px;
}

.link-container {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  @include respond-to(xs) {
    padding-top: 0;
    padding-right: 16px;

    a {
      display: block;
      font-size: 16px;
      position: relative;
      color: $black;

      &:after {
        position: absolute;
        right: -16px;
        top: 5px;
        bottom: 0;
        width: 8px;
        height: 13px;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;

        @include background-assets(
          $icon1x: '../assets/images/chevron-right-blue/img.png',
          $icon2x: '../assets/images/chevron-right-blue/img@2x.png',
          $icon3x: '../assets/images/chevron-right-blue/img@3x.png',
          $iconSvg: '../assets/images/chevron-right-blue/img.svg',
        );
      }
    }
  }
}

.separator {
  border-bottom: 1px solid $gray-silver;
}
