@import 'styles/variables';
@import 'styles/mixins';

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  box-shadow: 0 1px 0 0 $gray-silver;
  background-color: $white;

  @include respond-to(xs) {
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;

  @include respond-to(xs) {
    padding: 0 20px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  box-shadow: 0 -1px 0 0 $gray-silver;
  background-color: $white;
  font-size: 14px;
  line-height: 1.43;
  color: $gray-dark;

  @include respond-to(xs) {
    height: auto;
    padding: 20px;
  }

  a {
    color: $gray-dark;
  }
}

.logo {
  width: 35px;
  height: 34px;
  display: block;
  user-select: none;
  margin-left: 32px;
  background-size: contain;
  background-repeat: no-repeat;

  @include respond-to(xs) {
    margin: 0;
  }

  @include background-assets(
    $icon1x: '../assets/images/logo/img.png',
    $icon2x:  '../assets/images/logo/img@2x.png',
    $icon3x:  '../assets/images/logo/img@3x.png',
    $iconSvg:  '../assets/images/logo/img.svg',
  );
}
