@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: $issue-bottom-bar-height;
  justify-content: center;
  background-color: $white;
  box-shadow: inset 0 1px 0 0 $gray-light;
}

.content {
  display: flex;
  align-items: center;
}
