@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
  padding: 15px 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -24px;

  @include respond-to(xs) {
    margin-left: -10px;
    margin-right: -10px;

    &.mobile-three-columns {
      margin-left: -8px;
      margin-right: -8px;

      .card {
        padding-left: 8px;
        padding-right: 8px;
        width: percentage(1 / 3);
      }
    }

    &.mobile-gallery {
      flex-wrap: nowrap;
      margin-left: -$content-padding;
      margin-right: -$content-padding;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      & > *:first-child {
        margin-left: 10px;
      }

      & > *:last-child {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 1px;
          position: absolute;
          top: 0;
          right: -10px;
        }
      }

      .card {
        width: auto;
        margin-bottom: 0;

        &.empty {
          width: 0;
          padding: 0;

          & > * {
            width: 0;
          }
        }
      }
    }
  }
}

.responsive {
  justify-content: space-between;

  & > * {
    flex: 1;
    max-width: 245px;
  }
}

.card {
  padding: 15px 24px;

  @include respond-to(xs) {
    padding-left: 10px;
    padding-right: 10px;
    width: percentage(1 / 3);
  }

  @include respond-to(below-xs) {
    width: 50%;
  }

  &.empty {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    & > * {
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      height: 0;
    }
  }
}
