@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-basis: $content-width-lg;
  flex-direction: column;
  width: 100%;
}

.content-inner {
  padding-top: 29px;
  padding-bottom: 52px;

  @include respond-to(from-md) {
    display: flex;
  }

  @include respond-to(xs) {
    padding-top: 16px;
  }
}

.left-container {
  display: flex;
  flex-basis: 365px;
  flex-shrink: 0;
  padding-right: 46px;
}

.right-container {
  flex: 1;
  padding-right: 46px;
}

.top-container {
  position: relative;
  background-color: $gray-silver-lighter;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 33px;
}

.bottom-container {
  padding-top: 29px;
}

.cover {
  display: block;
  width: 318px;
  height: 408px;
  object-fit: contain;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);

  @include respond-to(xs) {
    width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  }
}

.cover-container {
  display: block;
  position: relative;
  border-radius: 8px;

  @include respond-to(xs) {
    display: inline-block;
    max-width: 40%;
    min-width: 150px;
    border-radius: 4px;
    margin-bottom: 21px;
  }
}

.title {
  margin-bottom: 13px;

  @include respond-to(xs) {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 21px;
  }
}

.author {
  @include respond-to(xs) {
    margin-bottom: 14px;
  }
}

.description {
  margin-bottom: 28px;

  @include respond-to(xs) {
    margin-bottom: 20px;
    line-height: 21px;
  }
}

.section {
  padding-bottom: 26px;

  &.separator:not(:last-child) {
    border-bottom: 1px solid $gray-light;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }

  @include respond-to(xs) {
    margin-bottom: 28px;

    &:not(.separator) {
      padding-bottom: 0;
    }
  }

  &-title {
    display: block;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.29;
  }
}

.tag {
  display: inline-block;
  padding: 9px 16px 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: solid 1px $gray-light;
  white-space: nowrap;
}

.buttons-container {
  display: flex;
  margin-bottom: 10px;

  @include respond-to(xs) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -8px;
  }
}

.useful {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 11px;
  width: 100%;
}

.info-container {
  margin-bottom: 10px;
}

.button-read {
  display: inline-flex;
  line-height: 19px;
  margin-right: 32px;
}

.vote-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include respond-to(xs) {
    width: calc(50% - 16px);
    margin: 0 8px;
    height: 48px;
  }

  .vote-number {
    margin-left: 6px;
  }

  & + & {
    @include respond-to(from-md) {
      margin-left: 16px;
    }
  }
}

.back {
  font-size: 17px;
  position: absolute;
  top: 18px;
  left: 20px;
}
