@import 'styles/mixins';
@import 'styles/variables';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 25px;
  padding-left: 20px;

  @include respond-to(lg) {
    padding-left: 0;
  }

  .inner {
    display: flex;
    flex-basis: $content-width-lg;
    flex-wrap: wrap;
  }

  a {
    color: $gray-dark;

    &:last-child {
      color: $black;
    }
  }

  *:not(:last-child):after {
    display: inline-block;
    padding: 0 8px;
    color: $gray-dark;
    content: "/";
  }
}
