@import 'styles/variables';
@import 'styles/mixins';

.tooltip {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.content {
  padding: 25px 24px 12px;
  text-align: left;

  @include respond-to(xs) {
    max-width: 330px;
  }
}

