@import 'styles/variables';

.tippy-tooltip {
  padding: 0;
}

.tippy-tooltip.white-theme {
  background-color: $white;
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom-color: $white;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top-color: $white;
}
