@import 'styles/variables';

.left-container {
  width: $reviews-left-container-width;
  min-width: $reviews-left-container-width;
  height: 100%;
  padding: 24px 32px;
  border-right: 1px solid $gray-silver;
}

.filters-group {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 23px;
    border-bottom: 1px solid $gray-silver;
  }

  &-header {
    margin-bottom: 20px;
  }
}

.filter {
  margin-bottom: 16px;
}
