@import 'styles/variables';
@import 'styles/mixins';

.card {
  display: block;
  width: 196px;
  vertical-align: top;
  white-space: normal;

  @include respond-to(xs) {
    width: 104px;
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
  }

  &.responsive-mobile {
    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.image {
  display: block;
  width: 100%;
  height: 283px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.03);
  background: $white no-repeat center;
  object-fit: fill;

  & + * {
    margin-top: 12px;
  }

  @include respond-to(xs) {
    height: 174px;
    border-radius: 0;
    object-fit: contain;
  }

  &.responsive-mobile {
    @include respond-to(xs) {
      height: auto;
    }
  }
}

.title {
  display: block;
  font-size: 14px;
  line-height: 1.43;
  color: $black;
}
