@import 'styles/variables';

.rc-slider {
  display: flex;
  align-items: center;
  height: 16px;
}

.rc-slider-step {
  height: 1px;
  background-color: transparent;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 1px;
  background-color: $gray-light;
}

.rc-slider-handle {
  width: 16px;
  height: 16px;
  margin-top: 0;
  background-color: $blue-primary;
  border: none;
}
